
// Typography
h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-align: center;

  @include mobile {
    line-height: 1.4;
  }
}

h2 {font-size: 24px;}

h3 {font-size: 20px;}

h4 {
  font-size: 18px;
  color: #222;
}

// For desktop screens (≥769px): Adds decorative horizontal lines before and after <h2> inside .post.
@media (min-width: 769px){
    .post h2::before, .post h2::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 1px;
        background: rgb(192, 211, 218);
        margin: 0px 30px;
    }
}


// Standard paragraph spacing (top and bottom 15px)
p {margin: 15px 0;}

// Links
a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $darkblue;
  }
}

// Lists
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

// Inline Elements
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

// Images
img {
  max-width: 100%;
}

p > img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Selection Styles. Text selection highlight: black text on light gray background
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}


// Main Content
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

// Blockquotes
.post {
  blockquote {
    margin: 1em 0em;
    // padding: 1em 0;
    color: $black;
    font-size: 1em;
    // font-weight: bold;
    font-style: italic;
    // background-color: $lightGray; //#ede1ff;
    background-color: #f4edff;
    text-align: center;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-container {
  min-height: 100%;
  position: relative;
}

.wrapper-main {
  padding-bottom: 134px;
}

// Decorative Elements
body:after {
  background: linear-gradient(to right, #ffffff 0, #2196F3 33%, #E91E63 66%, #000 100%);
  width: 100%;
  height: 5px;
  top: 0;
  position: absolute;
  left: 0;
  content: '';
}

// Page/Post Titles
.post h1, .page h1 {
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  font-kerning: auto;
  line-height: 1.2;
}


// Summary

details {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  padding: 0.25rem;
  margin: 0 auto;              /* center container */
  text-align: center;          /* center content */
  margin: 0.5em auto 0;
}

/* background only when not open */
details:not([open]) {
  background: #fff4e0;
}

summary {
  display: flex;               /* allow centering */
  justify-content: center;     /* center Summary text */
  cursor: pointer;
  list-style: none;
  font-weight: 600;
  outline: none;
}

summary::-webkit-details-marker { display: none; }

summary::before {
  content: "▸";
  display: inline-block;
  margin-right: 0.5rem;
  transition: transform .18s ease;
}

details[open] summary::before {
  transform: rotate(90deg);
}

.content {
  margin-top: 0.5rem;
  line-height: 1.45;
  text-align: center;          /* center inner text */
  border: 2px solid #000;      /* example: black border, 2px thick */
  padding: 0.5rem;               /* space between text and border */
  border-radius: 0.5rem;       /* optional: rounded corners */
}

// Lazy Loaded Images
.lazy-image { width: 100%; height: auto; }