
.highlight {
  background-color: #f3f3f5;
  /* top   right  bottom  left */
  padding: 0px 2px 0px 5px;
  overflow: auto;
  font-size: 90%;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  color: #000000;
}

.highlighter-rouge { 
  background-color: #FAFAFA; 
  color: #FF554A; 
}
