
.highlight {
  background-color: #1e1c3f;
  padding: 7px 7px 7px 10px;
  overflow: auto;
  font-size: 90%;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  color: #d8d8d8;
}

.highlighter-rouge { 
  background-color: #FAFAFA; 
  color: #FF554A; 
}
