.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#coordToggle {
  width: 100px; /* fixed width */
  height: 48px; /* match input height exactly */
  font-size: 18px;
  line-height: 1;
  padding: 0; /* let height control vertical space */
  // margin-left: 8px; /* space between bar and button */
  margin-right: 8px; /* space between button and bar */
  cursor: pointer;
  border: 1px solid #ccc;
  // border-radius: 4px; /* keep all corners rounded */
  border-right: none; /* merge with input border */
  border-radius: 4px 0 0 4px; /* round only left corners */
  background: #5f8c65;
  color: white;
  transition: background-color 0.4s ease;
}

#coordToggle.flash {
  background-color: #cce5ff;
  color: black;
}

.search-container input {
  flex: 1; /* take remaining space */
  padding: 12px 20px;
  line-height: 1;
  border: 1px solid #ccc;
  // border-radius: 4px 0 0 4px; /* round only left corners */
  border-radius: 0 4px 4px 0; /* round only right corners */
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff;
  margin: 0;
  display: block;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


// Results shown
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.25rem;
    margin-top: 1rem;
}
.card {
    border: 0 solid #000;
    background-color: transparent;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}
.card > .header {
    margin-bottom: 0.25rem;
}
.card > .body {
    font-size: 1rem;
    color: #777;
    font-weight: 700;
}
