table {
  width: 100%; /* Fill parent div */
  padding: 0;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto; /* Center the table horizontally */
}

// /* Apply full width only inside <article class="post detailed"> */
// article.cluster.post table {
//   width: 100%;
// }
// /* Exception: tables inside .popup-message-focus revert to auto */
// article.cluster.post .popup-message-focus table {
//   width: auto;
// }


.table-note {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: #666;
}


// /* TOGGLE ROWS FUNCTIONALITY FOR POSITIONS TABLE*/

// /* Hide the input */
// article.cluster.post .toggle-state {
//   display: none;
// }
// /* HIDING LOGIC: Select all rows inside tbody, EXCEPT the last child AND the 2nd to last child (toggle Row) */
// article.cluster.post #toggle-pos-rows:not(:checked) + table tbody tr:not(:last-child):not(:nth-last-child(2)) {
//   display: none;
// }
// /* Button/Label Styling */
// article.cluster.post .toggle-btn {
//   cursor: pointer;
//   color: $blue;
//   // text-decoration: underline;
//   // font-family: monospace;
//   // font-size: 1em;
//   display: block;        /* Ensures clickability spans the cell */
//   text-align: center;    /* Centers the toggle text */
// }
// /* Dynamic Text Content */
// article.cluster.post .toggle-btn::after {
//   content: "\25BA   Show rows"; /* \25BC is a down arrow symbol */
// }
// article.cluster.post #toggle-pos-rows:checked + table .toggle-btn::after {
//   content: "\25B2 Hide rows"; /* \25B2 is an up arrow symbol */
// }
// /* Target the Toggle Row (2nd to last) in the *immediately adjacent* specific table */
// article.cluster.post #toggle-pos-rows + table tbody tr:nth-last-child(2) {
//   height: 40px; /* Force height since the absolute child won't give it any */
//   background-color: white !important;
// }
// /* Hide borders/backgrounds on ALL cells in this row to look like empty space */
// article.cluster.post #toggle-pos-rows + table tbody tr:nth-last-child(2) td {
//   border: none !important;
//   // background: transparent !important;
// }
// /* Target the FIRST cell (containing the label) and center it absolutely */
// article.cluster.post #toggle-pos-rows + table tbody tr:nth-last-child(2) td:first-child {
//   position: absolute;
//   left: 0;
//   right: 0;
//   width: 100%;
//   text-align: center;
//   padding: 10px 0;
// }
// /* Target the LAST row and set its background color */
// article.cluster.post #toggle-pos-rows + table tbody tr:last-child {
//   background-color: #fff;
// }
// /* Hover effect for the last row (ensures it overrides the static grey) */
// article.cluster.post #toggle-pos-rows + table tbody tr:last-child:hover {
//   background-color: #ffe6a1;
// }
// /* TOGGLE ROWS FUNCTIONALITY FOR POSITIONS TABLE*/





table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    // background-color: #f0f0f0;
    background-color: #fafafa;
}

table tr:hover {
    background-color: #ffe6a1;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    vertical-align: middle; /* Align vertically */
    margin: 0;
    padding: 6px 13px;
    // padding: 2px 6px;
    background: #f0f0f0;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    vertical-align: middle; /* Align vertically */
    margin: 0;
    padding: 6px 13px;
    // padding: 2px 6px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}

.sorted-asc, .sorted-desc {
    background-color: #e6f3ff !important; /* light blue highlight */
}

/* Only affect sortable tables */
table.sortable thead th {
    cursor: pointer;
    position: relative;
}

/* On hover: subtle color */
table.sortable thead th:hover {
    background-color: #e6f3ff !important; /* light blue highlight */
}
