<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Umami -->
    <head>
      <script defer src="https://cloud.umami.is/script.js" data-website-id="1a5a27e4-8217-4735-b1cb-a405225e0a91"></script>

    {% if page.title_flag %}
      <title>{{ page.title }} - {{ site.name }}</title>
    {% else %}
      <title>{{ site.name }} – {{ site.description }}</title>
    {% endif %}

    {% seo title=false %}

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/{{ page.style }}.css" />
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" width="62" height="62" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a data-umami-event="ucc_base" href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <a data-umami-event="database" href="{{ site.baseurl }}/database">Database</a>
              <a data-umami-event="search" href="{{ site.baseurl }}/search">Search</a>
              <a data-umami-event="arxiv" href="{{ site.baseurl }}/arxiv">arXiv</a>
              <a data-umami-event="faq" href="{{ site.baseurl }}/faq">FAQ</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <a href="/" alt="Go back to home" aria-label="Go back to home"><i class="svg-icon gotohome"></i></a>
            <i class="little-spacer"></i>
            <a href="#" alt="Go to top" aria-label="Go to top"><i class="svg-icon gototop"></i></a>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
