<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" width="65" height="65" alt="{{ site.title }}" /></a>
            <!-- <a href="{{ site.baseurl }}/"><img src="/images/UCC_icon.webp" width="65" height="65" alt="{{ site.title }}" /></a> -->

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <!-- <a href="{{ site.baseurl }}/search">Search</a> -->
              <!-- <a href="{{ site.baseurl }}/categories">Categories</a> -->
              <a href="{{ site.baseurl }}/database">DATABASE</a>
              <a href="{{ site.baseurl }}/faq">FAQ</a>
              <a href="{{ site.baseurl }}/changelog">CHANGELOG</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <!-- <a href="https://github.com/ucc23/ucc" target="_blank"><i class="fa fa-github" style="font-size:30px"></i></a> -->
            <!-- <a href="https://github.com/ucc23/ucc" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a> -->
            <a href="https://github.com/ucc23/ucc" target="_blank"><img alt="Github repo" src="/images/github_b.svg" width="30" height="30"></a>
            <i class="little-spacer"></i>
            <!-- <a href="mailto:gabrielperren@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-size:30px"></i></a> -->
            <!-- <a href="mailto:gabrielperren@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-lg"></i></a> -->
            <a href="mailto:gabrielperren@gmail.com" target="_blank"><img alt="Send email" src="/images/envelope-solid_b.svg" width="30" height="30"></a>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
